<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <!-- Specify an account name and key to write debug (console) information out to. leaving these blank will disable logging. -->
    <add key="DebugAccountName" value="two10ra"/>
    <add key="DebugAccountKey" value="dmIMUY1mg/qPeOgGmCkO333L26cNcnUA1uMcSSOFMB3cB8LkdDkh02RaYTPLBL8qMqnqazqd6uMxI2bJJEnj0g=="/>
    <!-- You will also need to set the trace listener below to the Microsoft.WindowsAzure.Diagnostics listener -->
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <!--add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" /-->
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <!--add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics"/-->

      </listeners>
    </trace>
  </system.diagnostics>


  
  
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">

      <!-- Multiple RoleMonitors can be added here -->
      
      <object id="RoleMonitors" type="System.Collections.Generic.List&lt;Two10.AzureScaleMe.RoleMonitor&gt;" singleton="true">
        <constructor-arg name="collection">
          <list element-type="Two10.AzureScaleMe.RoleMonitor">

            <object type="Two10.AzureScaleMe.RoleMonitor">

              <property name="Name" value="AzureTestProject"/>
              <property name="MinScalingInterval" value="30"/>
              <property name="CompositionStrategy" value="Sum"/>

              <property name="MetricProviders">
                <list element-type="Two10.AzureScaleMe.MetricProviders.IMetricProvider">

                  <!-- insert metric providers here -->
                  
                  <object type="Two10.AzureScaleMe.MetricProviders.QueueMetricProvider">
                    <property name="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=two10ra;AccountKey=dmIMUY1mg/qPeOgGmCkO333L26cNcnUA1uMcSSOFMB3cB8LkdDkh02RaYTPLBL8qMqnqazqd6uMxI2bJJEnj0g==" />
                    <property name="QueueName" value="foo" />
                    <property name="MaxValue" value="100" />
                    <property name="MinValue" value="5" />
                    <property name="MaxThresholdWait" value="2" />
                  </object>

                  <object type="Two10.AzureScaleMe.MetricProviders.PerfCounterMetricProvider">
                    <property name="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=two10ra;AccountKey=dmIMUY1mg/qPeOgGmCkO333L26cNcnUA1uMcSSOFMB3cB8LkdDkh02RaYTPLBL8qMqnqazqd6uMxI2bJJEnj0g==" />
                    <property name="Counter" value="\Processor(_Total)\% Processor Time" />
                    <property name="MaxValue" value="90" />
                    <property name="MinValue" value="0" />
                    <property name="MaxThresholdWait" value="2" />
                    <property name="SampleRate" value="5" />
                    <property name="SamplePeriod" value="10" />

                    <property name="SubscriptionId" value="82f8e1cd-ee8d-414e-b6a5-be7b18a1fa89" />
                    <property name="ServiceName" value="two10ra" />
                    <property name="RoleName" value="AzureTestProject" />
                    <property name="CertificateThumbprint" value="B929E1E212A92B9CA67F7445F9CB8BF09EC5231E" />

                    <property name="ConfigureCounters" value="True" />
                    <property name="CounterTableName" value="WADPerformanceCountersTable" />
                  </object>

                </list>
              </property>
              <property name="ScalingProvider">

                <!-- an alternative scaling provider can be placed here -->
                <object type="Two10.AzureScaleMe.ScalingProviders.IncrementalScaler">
                  <property name="MinInstances" value="1" />
                  <property name="MaxInstances" value="5" />

                  <property name="SubscriptionId" value="82f8e1cd-ee8d-414e-b6a5-be7b18a1fa89" />
                  <property name="ServiceName" value="two10ra" />
                  <property name="RoleName" value="AzureTestProject" />
                  <property name="CertificateThumbprint" value="B929E1E212A92B9CA67F7445F9CB8BF09EC5231E" />
                </object>
                
                
              </property>

            </object>

          </list>
        </constructor-arg>
      </object>

      <object id="Certificates" type="System.Collections.Generic.List&lt;System.Tuple&lt;string, string&gt;&gt;" singleton="true">
        <constructor-arg name="collection">
          <list element-type="System.Tuple&lt;string, string&gt;">
            
            <object type="System.Tuple&lt;string, string&gt;">
              <constructor-arg name="Item1" value="cert.pfx" />
              <constructor-arg name="Item2" value="Ipswich123!" />
            </object>
            
            <!-- add more certificate here -->
            
          </list>
        </constructor-arg>
      </object>
      
    </objects>
  </spring>




  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WindowsAzureServiceManagement_WebHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="131072"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint name="WindowsAzureEndPoint" address="https://management.core.windows.net" binding="webHttpBinding" bindingConfiguration="WindowsAzureServiceManagement_WebHttpBinding" contract="Microsoft.Samples.WindowsAzure.ServiceManagement.IServiceManagement"/>
    </client>
  </system.serviceModel>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
